---
import Container from "../../shared/Container.astro";
import Title2 from "../../shared/Title2.astro";
import ServiceCard from "./components/ServiceCard.astro";
import ServiceCopyTextCard from "./components/ServiceCopyTextCard.astro";
import { servicesSectionData } from "./data.ts";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="services" class=`${className}`>
  <Container size="wide">
    <Title2>{servicesSectionData.title}</Title2>
   
  </Container>
  <Container size="wide">
    <ServiceCopyTextCard
    className="md:col-span-2 flex flex-col"
    subheading={servicesSectionData.subheading}
  />
    <div class="grid grid-col-1 md:grid-cols-3 lg:grid-cols-3 gap-y-2 gap-x-4">
      
      <a href="#">
        <ServiceCard
          title={servicesSectionData.services[0].title}
          description={servicesSectionData.services[0].briefDescription}
          visual={servicesSectionData.services[0].visual}
        />
      </a>
      <a href="#">
        <ServiceCard
          title={servicesSectionData.services[1].title}
          description={servicesSectionData.services[1].briefDescription}
          visual={servicesSectionData.services[1].visual}
        />
      </a>
      <a href="#">
        <ServiceCard
          title={servicesSectionData.services[2].title}
          description={servicesSectionData.services[2].briefDescription}
          visual={servicesSectionData.services[2].visual}
        />
      </a>
    </div>
  </Container>
</section>
