---
import { Image, Picture } from "astro:assets";
import heroImg from "./assets/plant.jpg";
import CtaButton from "../../shared/CtaButton.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle from "../../shared/SubTitle.astro";
import Title from "../../shared/Title.astro";
import LazyImage from "../../shared/LazyImage.astro";

const heroSection = {
  headline1: "¡Soluciones",
  headline2: "Sostenibles",
  headline3: "De Impacto",
  headline4: "Duradero!",
  subheading1: "Impulsamos proyectos que combinan",
  subheading2: "desarrollo y responsabilidad ambiental,",
  subheading3: "construyamos juntos un futuro más verde y seguro",
  buttonText: "Inicia hoy",
  backgroundImage: "hero-background-image.jpg",
};

export interface Props {
  className?: string;
} 

const { className = "" } = Astro.props;
---

<section class=`relative  ${className} w-full h-[80vh]` id="hero">
  <div class="w-full h-[80vh] pt-[100px]">
    <div
      class="w-full h-full grid grid-cols-1 md:grid-cols-2 justify-end bg-base-100 dark:bg-base-dark-900"
    >
      <div class="justify-center flex flex-col text-center md:ml-auto">
        <Title className="">
          {heroSection.headline1}
          <GradiantText
            >{" " + heroSection.headline2}
            <br />
            {" " + heroSection.headline3}
          </GradiantText>{heroSection.headline4}
        </Title>
        <SubTitle className=" mt-10 leading-9 italic">
          {heroSection.subheading1}
          <br />
          {heroSection.subheading2}<br />
          {heroSection.subheading3}
        </SubTitle>
        <div class="pt-10">
          <CtaButton>{heroSection.buttonText}</CtaButton>
        </div>
      </div>
      <div class="flex relative pt-10 md:p-0">
        <LazyImage
          src={heroImg}
          alt="A picture of a wind turbine."
          className="w-full h-full object-cover"
        />
        <svg
          class="fill-base-100 dark:fill-base-dark-900 z-10 absolute top-0 start-0 h-full hidden md:block"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 500 400"
        >
          <path d="M0 0l0 400L100 0Z"> </path>
        </svg>
      </div>
    </div>
  </div>
</section>
